<footer class="bg-white rounded-lg shawdow m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="" text-sm text-gray-500 sm:text-center>
            © 2023
            <a href="/" class="hover:underline">Dream Home</a>.
            All Rights Reserved.
        </span>
        <!--TODO: COMPLETE -->
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
            <li class="ml-3">
                <a href="/" class="hover:underline">Home</a>
            </li>
            <li class="ml-3">
                <a href="/branch_main_menu" class="hover:underline">Branch</a>
            </li>
            <li class="ml-3">
                <a href="/staff_main_menu" class="hover:underline">Staff</a>
            </li>
            <li class="ml-3">
                <a href="/client_main_menu" class="hover:underline">Client</a>
            </li>
        </ul>
    </div>
</footer>