<title>Staff</title>
<h1>Staff</h1>

<%- include('../logoutbutton') %>

<form action="/hire-staff" method="GET">
  <button type="submit">Hire Staff</button>
</form>
<form action="/staff-editor" method="GET">
  <button type="submit">Staff Editor</button>
</form>
<form action="/home" method="GET">
  <button type="submit">Go Back</button>
</form>
