<title>Home</title>
<h1>Home</h1>

<%- include('logoutbutton') %>

<form action="/staff-main-menu" method="get">
  <button type="submit">Staff Main Menu</button>
</form>

<form action="/branch-main-menu" method="get">
  <button type="submit">Branch Main Menu</button>
</form>

<form action="/client-main-menu" method="get">
  <button type="submit">Client Main Menu</button>
</form>

<form action="" method="get">
  <button type="submit" disabled>Go Back</button>
</form>